<div ng-include="'views/header.html'"></div>

<div class="text-muted">
  <a href="http://developers.screeneasy.me/api/v1/interview/questions">You can create or retrieve questions with our RESTful API</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div ng-include="'views/questions/create_question.html'"></div>
        </div>

        <div class="col-md-6">
            <div ng-include="'views/questions/list_questions.html'"></div>
        </div>
    </div>
</div>
